<div class="lc-no-support">
  <hr />
  <h3>Literate Computing Docker Image</h3>
  <p>
    WARNING: You are using a Docker image produced by
    <a href="https://literatecomputing.com">
      Literate Computing
    </a>. If it works for you, that's great!
  </p>
  <p>
    <b>Please do not ask for support at meta.discourse.org.</b>
    No support will be availiable there.
  </p>
  <p>
    See
    <a href="https://dashboard.literatecomputing.com/pub/lc-docker-images">
      this page
    </a>
    for informaion on how to get support.
  </p>
  <hr />
</div>
